{% extends "_baseLayout.htm" %}

{% block head %}
	{{super()}}
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='ext/plugins/rateit/rateit.css')}}"></link>
	<script type="text/javascript" src="{{url_for('static', filename='js/core.js')}}"></script>

{% endblock %}

{% block title %}
	{{super()}} 
{% endblock %}

{% block pagesetup %}
	{{super()}} 

	<div class="container-fluid">
		<div class="row" style="height:10px" >
		</div>
		<div class="row">
			<div class="{% block pagewidth %} col-sm-4 col-sm-offset-4 {% endblock %}">
				<header class="row header">
					{% block header %}

							{% if session.logged_in %}
								<div class="pull-right">
									<span id="currentLoc" style="display:none">
										<span>You are here:&nbsp;<span class="currentLoc-detail"></span></span>	
									</span>
									<a href="{{url_for('logout')}}" title="Logout" class="btn btn-default btn-sm"  >
										<span class="fa fa-sign-out"></span></a>
								</div>


							{% else %}
								<a href="{{url_for('login')}}" class="btn btn-default btn-sm pull-right"  >
									<span class="fa fa-sign-in"></span>
								</a>
							{% endif %}	
						<div class="clearfix"></div>
					{% endblock %}
				</header>
				<div class="row">
					<div class="col-sm-12">
						{% block content %}{% endblock %}
					</div>
				</div>
				<!-- footer -->
				<footer class="row footer">
					<div class="col-sm-12">
						{% block footer %}
						{% endblock %}
					</div>
				</footer>
			</div>
		</div>

	</div>

{% block bodyend %}

	<script type="text/javascript" src="{{url_for('static', filename='ext/plugins/rateit/jquery.rateit.min.js')}}"></script>
{% endblock %}
{% endblock %}

