{% extends "_baseLayout.htm" %}

{% block head %}
	{{super()}}
	<script type="text/javascript" src="{{url_for('static', filename='js/core.js')}}"></script>
{% endblock %}

{% block title %}
	{{super()}} 
{% endblock %}

{% block pagesetup %}
	{{super()}} 

	<div class="container-fluid">
		<div class="row" style="height:10px" >
		</div>

		<div class="row">
			<div class="col-lg-12">
				<header class="row header">
					{% block header %}

							{% if session.logged_in %}
								<a href="{{url_for('logout')}}" title="Logout" class="btn btn-default btn-sm pull-right"  >
									<span class="fa fa-sign-out"></span></a>
							{% else %}
								<a href="{{url_for('login')}}" class="btn btn-default btn-sm pull-right"  >
									<span class="fa fa-sign-in"></span>
								</a>
							{% endif %}	
						<div class="clearfix"></div>
					{% endblock %}
				</header>
				<div class="row">
					<div class="col-sm-12">
						{% block content %}{% endblock %}
					</div>
				</div>
				<!-- footer -->
				<footer class="row footer">
					<div class="col-sm-12">
						{% block footer %}
						&copy; Copyright 2010 by his highness
						{% endblock %}
					</div>
				</footer>
			</div>
		</div>

	</div>

{% block bodyend %}{% endblock %}
{% endblock %}

