
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding-bottom:10px; border-radius: 0 0;">
      <div class="container">
      	<div class="row">
	      	<div class="col-lg-8">
		        <h1 class='head-text'></h1>
		        <p class='head-desc'></p>
		        <p>
		        	<h5>
		        		<strong>Type</strong> - <span class='place-type'></span>&#44;&nbsp;
		        		<strong>Distance</strong> - <span class='place-distance'><i class="fa fa-refresh fa-spin"></i>&nbsp;calculating..</span>
		        	</h5>
		        </p>
		        <p class="head-controls">
		        	<button data-msg="Vendor is going to conduct a general health inspection of the pets" class="btn btn-xs btn-primary" title="Health Inspection"><i class="fa fa-stethoscope"></i></button>
		        	<button data-msg="Vendor is ready to freely offers their services in exchange of money" class="btn btn-xs btn-primary" title="Paid"><i class="fa fa-money"></i></button>
		        	<button data-msg="Certified via great certifying authority." class="btn btn-xs btn-primary" title="Is Certified"><i class="fa fa-certificate"></i></button>
		        	<button data-msg='The place claims to have food & other nutrition suppliements for your pets, available at reasonable rate' class="btn btn-xs" title="Food for your pet"><i class="fa fa-cutlery"></i></button>
		        	<button data-msg='photo gallary' class="btn btn-xs" title="Photos"><i class="fa fa-photo"></i></button>
		        	<button data-msg='Live video stream to keep a watch on your beloved pet.' class="btn btn-xs" title="Live-Video Streaming"><i class="fa fa-video-camera"></i></button>
		        	<button data-msg='Too bad, your pet fell sick. Fortunately we have on call doctor assistance for such emergencies.' class="btn btn-xs" title="Doctor Assistance"><i class="fa fa-ambulance"></i></button>
		        	<button data-msg='Does your pet needs vaccination? Not sure, no problem we will help you out.' class="btn btn-xs" title="Vaccination"><i class="fa fa-map-signs"></i></button>&nbsp;|
		        	<button data-mode="nav" class="btn btn-xs btn-primary" title="Plot direction"><i class="fa fa-car"></i></button>
		        </p>
		    </div>
		    <div class="col-lg-4">
		    	<button data-target="#wizard-modal" data-toggle="modal" class="btn btn-success btn-block"><i class="fa fa-star-o"></i>&nbsp;Choose</button>
		    	<!-- <button class="btn btn-danger btn-block"><i class="fa fa-bug"></i>&nbsp;Ignore</button> -->
		    	<div class="col-lg-12 col-sm-12 col-xs-12 photo-container">

		    	</div>
		    </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3 ratings">
          <h2>Ratings & Reviews</h2>
          <h4>
          	<div class="rateit" max="5" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
          </h4>
        </div>
        <div class="col-md-3 opening-hours">
          <h2>Opening Hours</h2>
       </div>
        <div class="col-md-3 services-offered">
          <h2>Pricing</h2>
       </div>
        <div class="col-md-3 misc">
          <h2>Misc</h2>
        </div>
      </div>
      

      <hr>
